<!DOCTYPE html>
<html>
<head>
  <title>BookTable</title>
  <%= stylesheet_link_tag 'application', :media => 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<p class="notice"><%= notice %></p>

<p class="alert"><%= alert %></p>

<h2> Question List </h2>
<%= link_to("New Question", new_question_questions_path) %>

<%= yield %>

</body>
</html>
